.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  margin-left: 200px;
  margin-top: 50px;
  height: 1350px;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.heading{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 25px;
    font-size: 50px;
    color: seagreen;
    margin-bottom: 20px;
}

.input1{
    width: 788px;
    height: 57px;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 10px;
    padding-left: 15px;
    border: 1px solid black;
    
}

.checkbox1{
    width: 20px;
    height: 20px;
}

.first{
    width: 46%;
    height: 57px;
    margin-top: 25px;
    border-radius: 10px;
    padding-left: 15px;
    border: 1px solid black;
}
 .input1:hover{
  border-color: rgb(93, 93, 229);
}
.first:hover{
  border-color:rgb(93, 93, 229);;
}

@media screen and (min-width: 767px) {
  
}